<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    메인
    <div class="message">
        <%
    if(id){
        %>
        <%=name%>(<%=id%>)님 어서오세요!
        <%  
    }else{
        %>
        로그인을 하세요
        <% }
    %>
    </div>
    <a href="/login">로그인</a>
    <a href="/join">회원가입</a>
</body>

</html>